In [100]:
import pandas as pd
import numpy as np

In [86]:
sale_df = pd.read_csv("new_car_sale.csv")
profil_df = pd.read_csv("new_car_data.csv")

In [87]:
sale_df.head()

,Make,Model,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Sum
0,Acura,ILX,914,819,"1,253","1,312","1,842","2,093","1,957","1,018",422,209,700,"1,361",13900
1,Acura,MDX,"2,827","5,379","8,782","7,685","7,041","5,077","4,290","4,632","2,101","3,157","3,551","5,535",60057
2,Acura,NSX,6,4,7,12,15,16,7,31,20,5,-,1,124
3,Acura,RDX,"3,386","3,520","4,706","4,576","5,864","5,638","5,789","5,842","4,915","5,313","3,976","3,488",57013
4,Acura,RLX,59,43,42,26,16,12,7,1,3,3,-,2,214

In [84]:
profil_df

,Make,Model,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,Asia,All,"$36,945.00","$33,337.00",3.5,6.0,265,17,23,4451,106,189
1,Acura,RSX,Asia,Front,"$23,820.00","$21,761.00",2.0,4.0,200,24,31,2778,101,172
2,Acura,TSX,Asia,Front,"$26,990.00","$24,647.00",2.4,4.0,200,22,29,3230,105,183
3,Acura,TL,Asia,Front,"$33,195.00","$30,299.00",3.2,6.0,270,20,28,3575,108,186
4,Acura,3.5,Asia,Front,"$43,755.00","$39,014.00",3.5,6.0,225,18,24,3880,115,197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,Volvo,C70,Europe,Front,"$40,565.00","$38,203.00",2.4,5.0,197,21,28,3450,105,186
424,Volvo,C70,Europe,Front,"$42,565.00","$40,083.00",2.3,5.0,242,20,26,3450,105,186
425,Volvo,S80,Europe,Front,"$45,210.00","$42,573.00",2.9,6.0,268,19,26,3653,110,190
426,Volvo,V40,Europe,Front,"$26,135.00","$24,641.00",1.9,4.0,170,22,29,2822,101,180
427,Volvo,XC70,Europe,All,"$35,145.00","$33,112.00",2.5,5.0,208,20,27,3823,109,186

In [75]:
sale_df[['Make',"Model"]] = sale_df["Model"].str.split(" ", 1, expand=True)

/var/folders/98/7w_ymnx92yjb0k5p9khzwsrw0000gn/T/ipykernel_60337/2414196345.py:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  sale_df[['Make',"Model"]] = sale_df["Model"].str.split(" ", 1, expand=True)

In [76]:
first_column = sale_df.pop('Make')
sale_df.insert(0, 'Make', first_column)

In [88]:
sale_df = sale_df[["Make","Model","Sum"]]

In [89]:
profil_df["Make"].value_counts()

Toyota           28
Chevrolet        27
Mercedes-Benz    26
Ford             23
BMW              20
Audi             19
Honda            17
Nissan           17
Volkswagen       15
Chrysler         15
Dodge            13
Mitsubishi       13
Volvo            12
Jaguar           12
Hyundai          12
Subaru           11
Pontiac          11
Mazda            11
Lexus            11
Kia              11
Buick             9
Mercury           9
Lincoln           9
Saturn            8
Cadillac          8
Suzuki            8
Infiniti          8
GMC               8
Acura             7
Porsche           7
Saab              7
Land Rover        3
Oldsmobile        3
Jeep              3
Scion             2
Isuzu             2
MINI              2
Hummer            1
Name: Make, dtype: int64

In [79]:
sale_df["Make"].value_counts()

Toyota           21
Ford             17
Audi             17
BMW              17
Mercedes-Benz    17
Chevrolet        17
Nissan           16
Kia              15
Hyundai          14
Honda            11
Lexus            11
Mazda             9
Volkswagen        9
Jeep              9
Subaru            8
Cadillac          8
Dodge             7
Jaguar            7
Land              7
Porsche           6
Lincoln           6
Acura             6
Infiniti          6
GMC               6
Buick             6
Volvo             6
Mitsubishi        5
Genesis           5
Fiat              4
Tesla             4
Chrysler          4
Alfa              3
Ram               3
Mini              2
Name: Make, dtype: int64

In [90]:
merge_df = pd.merge(profil_df, sale_df, on=["Make","Model"], how="outer")
merge_df.head()

,Make,Model,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length,Sum
0,Acura,MDX,Asia,All,"$36,945.00","$33,337.00",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0,60057.0
1,Acura,RSX,Asia,Front,"$23,820.00","$21,761.00",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0,NaN
2,Acura,TSX,Asia,Front,"$26,990.00","$24,647.00",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0,NaN
3,Acura,TL,Asia,Front,"$33,195.00","$30,299.00",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0,NaN
4,Acura,3.5,Asia,Front,"$43,755.00","$39,014.00",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0,NaN

In [106]:
merge_df = merge_df. dropna()

In [108]:
merge_df

,Make,Model,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length,Sum
0,Acura,MDX,Asia,All,"$36,945.00","$33,337.00",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0,60057.0
6,Acura,NSX,Asia,Rear,"$89,765.00","$79,978.00",3.2,6.0,290.0,17.0,24.0,3153.0,100.0,174.0,124.0
7,Audi,A4,Europe,Front,"$25,940.00","$23,508.00",1.8,4.0,170.0,22.0,31.0,3252.0,104.0,179.0,16263.0
8,Audi,A4,Europe,Front,"$31,840.00","$28,846.00",3.0,6.0,220.0,20.0,28.0,3462.0,104.0,179.0,16263.0
9,Audi,A4,Europe,All,"$33,430.00","$30,366.00",3.0,6.0,220.0,17.0,26.0,3583.0,104.0,179.0,16263.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422,Volkswagen,Passat,Europe,Front,"$33,180.00","$30,583.00",2.8,6.0,190.0,19.0,26.0,3721.0,106.0,185.0,24398.0
423,Volkswagen,Passat,Europe,Front,"$39,235.00","$36,052.00",4.0,8.0,270.0,18.0,25.0,3953.0,106.0,185.0,24398.0
424,Volkswagen,Passat,Europe,Front,"$24,955.00","$22,801.00",1.8,4.0,170.0,22.0,31.0,3338.0,106.0,184.0,24398.0
425,Volkswagen,Passat,Europe,Front,"$40,235.00","$36,956.00",4.0,8.0,270.0,18.0,25.0,4067.0,106.0,184.0,24398.0
428,Volvo,XC90,Europe,All,"$41,250.00","$38,851.00",2.9,6.0,268.0,15.0,20.0,4638.0,113.0,189.0,38657.0

In [107]:
merge_df.to_csv("final_data.csv")